{
    "token": "",
    "clientId": "",
    "guildId": "",
    "botCount": ,
    "channels": {
        "welcome": "",
        "adminLog": "",
        "membersNum": "",
        "botsNum": "",
        "languages": "",
        "bump": "",
        "newVideos": "",
        "newPosts": "",
        "log": ""
    },
    "rolesId": {
        "owner": "",
        "staff": "",
        "developer": "",
        "helper": "",
        "member": "",
        "bump": "",
        "newVideos": "",
        "newPosts": ""
    },
    "colors": {
        "embedInfoColor": "",
        "embedDangerColor": "",
        "embedWarnColor": ""
    },
    "db": {
        "host": "",
        "port": "",
        "user": "",
        "password": ""
    },
    "apiKeys": {
        "yt": "",
        "ig": ""
    }
}